<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer_links">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.	
		</div>
		<div class="footer__copyright">
			<span class="socials"><a target="_blank" href="https://au.linkedin.com/in/salmanalibanani" class="fa fa-linkedin" style="text-decoration:none;"></a></span>
			<span class="socials"><a target="_blank" href="https://twitter.com/salmanalibanani" class="fa fa-twitter" style="text-decoration:none;"></a></span>
			<span class="socials"><a target="_blank" href="https://github.com/salmanalibanani" class="fa fa-github" style="text-decoration:none;"></a></span>
		</div>
	</div>
</footer>